[user]
	name = xaicron
	email = xaicron@gmail.com
[color]
	ui = true
[alias]
	show-graph = log --graph --abbrev-commit --pretty=oneline
	co = checkout
	tree = log --graph --pretty='format:%C(yellow)%cr%C(reset) %h %C(green)%an%C(reset) | %s %C(red)%d%C(reset)'
	st = status -sb
	ci = commit -v
[github]
	user = xaicron
