[user]
	useConfigOnly = true
	email = xaicron@gmail.com
	name = Yuji Shimada
[color]
	ui = true
[alias]
	show-graph = log --graph --abbrev-commit --pretty=oneline
	co = checkout
	tree = log --graph --pretty='format:%C(yellow)%ci%C(reset) %h %C(green)%an%C(reset) | %s %C(red)%d%C(reset)'
	st = status -sb
	ci = commit -v
	df = diff --no-prefix
	recent-branch = for-each-ref --sort=-committerdate refs/heads refs/remotes --format='%(color:yellow)%(authordate:iso8601)%(color:reset) %(color:green)%(authorname)%(color:reset) | %(refname:short) %(color:red)%(upstream:track)%(color:reset)'
[github]
	user = xaicron
[push]
	default = current
[core]
	excludesfile = ~/.gitignore_global
[pager]
	log = diff-highlight | less
	show = diff-highlight | less
	diff = diff-highlight | less
[ghq]
	root = ~/dev/src
[init]
	defaultBranch = main
[fetch]
	prune = true
[diff "lockb"]
	textconv = bun
	binary = true
