[mysql]
# prompt='[\U] \d> '
# auto-rehash

[mysqld-5.6]
explicit_defaults_for_timestamp = true
character-set-server = utf8mb4

[mysqld-5.1]
thread_concurrency = 128
open_files_limit = 12800
character-set-server = utf8
